<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<h1>URL Shortner App</h1>
	<% if (locals.id) { %>
		<p>
			URL Generated: <a href="http://localhost:8080/<%=id%>" target="_blank">http://localhost:8080/<%=id%></a>
		</p>
		<% } %>
			<form method="post" action="/url">
				<label for="input">Enter URL: </label>
				<input type="text" id="input" name="url" placeholder="https://example.com">
				<button type="submit">Generate</button>
			</form>

			<div>
				<% if (locals.urls) { %>
					<table>
						<thead>
							<tr>
								<th>
									S. No
								</th>
								<th>
									ShortId
								</th>
								<th>
									Redirect
								</th>
								<th>
									Clicks
								</th>
							</tr>
						</thead>
						<tbody>
							<% urls.forEach((url, index)=> { %>
								<tr>
									<td>
										<%=index+1%>
									</td>
									<td>
										<%=url.shortId%>
									</td>
									<td>
										<%=url.redirectURL%>
									</td>
									<td>
										<%=url.count%>
									</td>
								</tr>
								<% }) %>
						</tbody>
					</table>
					<% } %>
			</div>
</body>

</html>
