<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>URL Shortner App</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	body {
		font-family: 'Poppins', sans-serif;
		overflow-x: hidden;
	}

	nav {
		background-color: #000;
		color: #fff;
		text-align: center;
		font-size: 18px;
		padding: 10px 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	table {
		width: 80%;
		border-collapse: collapse;
		margin-top: 100px;
	}

	th,
	td {
		border: 2px solid #fff;
		padding: 5px;
		text-align: center;
	}

	main {
		min-height: 100vh;
		background-color: #18181b;
		color: #fff;
		padding: 20px;
	}

	.table-div {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50vh;
	}

	p {
		color: #ffff;
		text-align: center;
		padding: 20px;
		background-color: #18181b;
	}

	form {
		max-width: 400px;
		margin: 0 auto;
		text-align: center;
		padding: 20px 0;
	}
</style>

<body>
	<nav>
		<h1>Short-it</h1>
		<a href="http://localhost:8080/user/logout">
			<button id="logout">Logout</button>
		</a>

	</nav>
	<% if (locals.name) { %>
		<p>
			Hello <%=name%>
		</p>
		<% } %>
			<% if (locals.id) { %>
				<p>
					URL Generated: <a href="http://localhost:8080/<%=id%>" target="_blank">http://localhost:8080/<%=id%>
					</a>
				</p>
				<% } %>
					<main>

						<form method="post" action="/url">
							<label for="input">Enter URL: </label>
							<input type="text" id="input" name="url" placeholder="https://example.com">
							<button type="submit">Generate</button>
						</form>

						<% if (locals.info) { %>
							<a href="http://localhost:8080/">
								head back to home page!
							</a>
							<% } %>

								<div class="table-div">
									<% if (locals.urls) { %>
										<table>
											<thead>
												<tr>
													<th>
														S. No
													</th>
													<th>
														ShortId
													</th>
													<th>
														Redirect
													</th>
													<th>
														Clicks
													</th>
												</tr>
											</thead>
											<tbody>
												<% urls.forEach((url, index)=> { %>
													<% if (url.shortId !=='undefined' && url.shortId !=='favicon.ico' )
														{ %>

														<tr>
															<td>
																<%=index+1%>
															</td>
															<td>
																<%=url.shortId%>
															</td>
															<td>
																<%=url.redirectURL%>
															</td>
															<td>
																<%=url.count%>
															</td>
														</tr>
														<% } else { %>
															<!-- If it's favicon.ico or undefined, you can still increment the index without rendering a row -->
															<% index +=1 %>
																<% } %>
																	<% }) %>
											</tbody>
										</table>
										<% } %>
								</div>

					</main>
</body>

</html>
